@import url("https://fonts.googleapis.com/css2?family=Stylish&display=swap");

.header-container {
  height: 35px;
  padding: 10px;
  background-color: #0D1929;
}
.header-heading-container {
  text-align: center;
  display: flex;
  justify-content: center;
}
.header-heading {
  font-family: "monospace";
  font-size: 30px;
  margin-left: 50rem;
}
